<?xml version="1.0" encoding="UTF-8"?>
<template>
    <!--Inherit Sidebar and add Archive menu item after Starred -->
    <t t-extend="mail.chat.Sidebar">
        <t t-jquery="div[data-channel-id=channel_starred]" t-operation="after">
            <div t-attf-class="o_mail_chat_channel_item #{(active_channel_id == 'channel_archive') ? 'o_active': ''}" data-channel-id="channel_archive">
                <span class="o_channel_name"> <i class="fa fa-archive"/> Archive </span>
            </div>
        </t>
    </t>
    <!--Add message about empty archive page-->
    <div t-name="mail.EmptyChannel" class="o_mail_no_content">
        <t t-if="options.channel_id==='channel_inbox'">
            <div class="o_thread_title">Congratulations, your inbox is empty</div>
            <div>New messages appear here.</div>
        </t>
        <t t-if="options.channel_id==='channel_starred'">
            <div class="o_thread_title">No starred message</div>
            <div> You can mark any message as 'starred', and it shows up in this channel.</div>
        </t>
        <t t-if="options.channel_id==='channel_archive'">
            <div class="o_thread_title">Archive is empty</div>
        </t>
    </div>
</template>
