<?xml version="1.0" encoding="UTF-8"?>
<template>
    <!--Inherit Sidebar and add Archive menu item after Starred -->
    <t t-extend="mail.discuss.Sidebar">
        <t t-jquery="div[data-thread-id=mailbox_starred]" t-operation="after">
            <div t-attf-class="o_mail_discuss_title_main o_mail_discuss_item #{(activeThreadID == 'channel_archive') ? 'o_active': ''}"
                 data-thread-id="mailbox_channel_archive">
                <span class="o_channel_name mail_archives"> <i class="fa fa-archive"/> Archive </span>
            </div>
        </t>
    </t>
    <!--Add message about empty archive page-->
    <t t-extend="mail.widget.Thread.Empty">
        <t t-jquery="t:last" t-operation="after">
            <t t-if="thread.getID() === 'mailbox_channel_archive'">
                <div class="o_thread_title">Archive is empty</div>
            </t>
        </t>
    </t>
</template>
