.recipient_link {
    color: grey;
}
.recipient_link:hover {
    color: #0d0d0d;
}

.o_mail_thread .o_thread_message span.recipients_info,
.o_mail_thread .o_thread_message i.fa {
    opacity: 0.4;
}

.o_mail_thread .o_thread_message:hover i.fa {
    opacity: 0.7;
}

.o_mail_thread .o_thread_message:hover span.recipients_info {
    opacity: 1;
}
