i.oe_moved {
    color: #ed6f6a;
    text-shadow: 0px 1px #961b1b, 0px -1px #961b1b, -1px 0px #961b1b, 1px 0px #961b1b,
        0px 3px 3px rgba(0, 0, 0, 0.1);
}
.mail_move_message {
    width: 864px;
}

.o_mail_thread .o_thread_message i.oe_move {
    cursor: pointer;
    opacity: 0;
    padding: 4px;
}
.o_mail_thread .o_thread_message:hover i.oe_move {
    opacity: 0.6;
}

.o_mail_thread .o_thread_message:hover i.oe_move:hover {
    opacity: 1;
}
